# environments
venv/
.venv/
env/

# git
.git/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# videos/audio
*.mp4
*.avi
*.mov
*.wav

# models (VERY IMPORTANT)
*.pth
*.pt
checkpoints/
models/
model_cache/
.cache/
huggingface/

# runtime folders
inputs/
outputs/
results/
tmp/
data/

# Wav2Lip (important if inside repo)
Wav2Lip/

# logs
*.log